html {
  text-align: center;
  background-color: bisque;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  margin: 0.75em 0;
  color: goldenrod;
  text-shadow: rgb(126, 96, 21) 1px 1px;
  font-size: 20em;
}
p {
  color: goldenrod;
  text-shadow: rgb(126, 96, 21) 1px 1px;
  font-size: 5em;
}
.card-container {
  /* border: 2px solid blue; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 5em;
  margin: 2em;

}
.product-card {
  margin: 5em;
  flex: 1 0 25%;
  flex-direction: column;
  width: 60em;
  height: 60em;
  border: 2px maroon solid;
  border-radius: 2%;
  box-shadow:  2px 2px 10px maroon;

}
.product-card p {
  font-size: 3em;
}
.card-image img {
  margin: 0 0 1em 0;
  border: 1px solid blue;
  width: 20em;
  height: 20em;
}
.product-card h2 {
  border-bottom: 1px lightblue solid;
  color: cadetblue;
  margin: .5em 0;
  font-size: 3em;
}
.product-card article {
  margin: 0 1em;
  font-size: 1.4em;
}
.product-card p {
  text-shadow: none;
  color: black;
  font-size: 1.5em;
  margin: .25em;
}
.card-availability p {
  background-color: darkgrey;
  color: yellow;
  font-size: 2em;
  margin: 0.5em 0;
  width: 100%;
}

h4 {
  font-weight: 400;
  margin: .25em;
  font-size: 1.5em;
}
.card-specs {
  display: flex;
  flex-flow:column wrap;
  justify-content: center;
}
.card-specs footer p {
  color: rgb(179, 48, 59);
  font-size: 1.3em;
}
.card-pricing {
  padding: 0;
  margin: 0%;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}
h5 {
  font-weight: 400;
  margin: 1em 0 0.5em;
}
