html {
  font-family: "Varela Round", sans-serif;
  text-align: center;
  background-color: bisque;
  font-size: 10px;
  margin: 0;
  padding: 0;
}
/* Color palette */
html {
  background: #455a64;
}
.product-card {
  background: #607d8b;
}
.light-primary-color {
  background: #cfd8dc;
}
.text-primary-color {
  color: #c7c2c2;
}
.accent-color {
  background: #607d8b;
}
.primary-text-color {
  color: #212121;
}
.secondary-text-color {
  color: #757575;
}
.divider-color {
  border-color: #bdbdbd;
}
/* .primary-text-color > p { color: #212121} */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #212121;
}
h2 {
  margin: 0.75em 0;
  color: #212121;
  text-shadow: #607d8b 1px 1px;
  font-size: 20em;
}
header p {
  font-weight: 300;
  font-family: "Lobster", cursive;
  color: #ffffff;
  text-shadow: #607d8b 1px 1px;
  font-size: 5em;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  padding: 5em;
  margin: 20em 2em;
}
.product-card {
  margin: 5em;
  flex: 1 0 25%;
  flex-direction: column;
  width: 60em;
  height: 60em;
  border: 2px #bdbdbd solid;
  border-radius: 2%;
  box-shadow: 2px 2px 10px #607d8b;
}
.product-card p {
  font-size: 3em;
}
.card-image img {
  margin: 0 0 1em 0;
  /* border: 1px solid blue; */
  width: 20em;
  height: 20em;
}
.product-card h2 {
  border-bottom: 1px lightblue solid;
  color: #212121;
  margin: 0.5em 0;
  font-size: 3em;
}
.product-card article {
  height: 60px;
  margin: 1em 1em;
  font-size: 1.2em;
}
.product-card p {
  text-shadow: none;
  font-size: 1.5em;
  margin: 0.25em;
}
.card-availability p {
  background-color: darkgrey;
  color: yellow;
  font-size: 2em;
  margin: 0.5em 0;
  width: 100%;
}

h4 {
  color: #212121;
  font-weight: 400;
  margin: 0.25em;
  font-size: 1.5em;
}
.card-specs {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
}
.card-specs footer p {
  color: #cfd8dc;
  font-size: 1.3em;
}
.card-pricing {
  color: #212121;
  padding: 0;
  margin: 0%;
  font-size: 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
h5 {
  color: #212121;
  font-weight: 400;
  margin: 0.25em 0 0.5em;
}
.sold-out {
  z-index: 1;
  position: absolute;
}
.card-info article {
  text-align: left;
}
@media (max-width: 700px) {
  .card-info,
  .product-card article {
    height: auto;
  }
  .sold-out {
    left: 0px;
    width: 40%;
    min-width: 300px;
    max-width: 25%;
  }
  .sold-out img {
    width: 50%;
    height: auto;
  }
  html,
  .card-container {
    padding: 0;
    margin: 0;
    width: 90%;
    flex-wrap: wrap;
    height: auto;
  }
  p {
    height: auto;
    font-size: 1em;
  }
  .product-card {
    height: auto;
    width: auto;
    flex: 1 15%;
  }
  header {
    flex: 1 40%;
  }
  h2 {
    font-size: 5em;
  }
  .sold-out {
    flex: 1 10%;
  }
}
